# sbt
target/

# metals
/.bloop/
/.metals/
/project/**/metals.sbt

# Build Server Protocol, used by sbt
/.bsp/

# vscode
/.vscode/

# scripts generated
/scripts/.coursier
/scripts/.scalafmt*

# clangd
**/compile_flags.txt
